<footer>
  <div class="footer-dark">
    <div class="container">
      <div class="d-flex flex-row">
        <div class="footer-vertical-center">
          <div class="footer-logos">
            <div class="footer-logo">
              <img src="{{ site.baseurl }}/assets/images/DOE-icon.png" alt="DOE logo">
            </div>
          </div>
        </div>

        <div class="footer-text p-2 ml-auto flex-grow-1 footer-vertical-center">
          This project is supported by the Department of Energy award number DE-SC0023528. Any opinions, findings, conclusions or recommendations expressed in this material are those of the
          authors and do not necessarily reflect the views of the Department of Energy.
        </div>
        <div class="footer-vertical-center">
          <div class="footer-buttons">
            <button type="button" class="btn btn-outline-secondary btn-sm">
              <a href="https://github.com/uwcms/tac-hep/"> <span class="fab fa-github"></span></a>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
