<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/"><span><img src="{{ site.baseurl }}/assets/images/color-UWcrest-print.png" alt="UW logo" height="58.5px" width="38.5px"></span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ site.baseurl }}/about/overview">Overview</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/about/team">Full Team</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/docs">Docs</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/sitemap">Sitemap</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connect</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ site.baseurl }}/news.html">News</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/events.html">Events</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/contact.html">Contact</a>
                    </div>
                </li>
                </li>
                <!--  Nav to news items disabled until there are news items; BB 2019-04-23
                    <li class="nav-item active">
                    <a class="nav-link" href="/news">News</a>
                    </li>
                -->

                <li class="nav-item active">
                   <a class="nav-link" href="{{ site.baseurl }}/training-modules.html">Training Modules</a>
                </li>
                <li class="nav-item active">
                   <a class="nav-link" href="{{ site.baseurl }}/fellows.html">Fellows</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
