---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {%- if page.postbanner -%}
    <a href="{{page.postbanner}}">
      <img src="{{page.postbanner}}" alt="Page banner image" class="banner"/>
    </a>
    {%- endif -%}
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>
  {%- if page.image and page.image != "{{ site.baseurl }}/assets/images/default-card.png" -%}
    {%- if page.image-caption -%}
      {% include figure.html file=page.image alt="Post primary image" caption=page.image-caption %}
    {%- else -%}
      {% include figure.html file=page.image alt="Post primary image" %}
    {%- endif -%}
  {%- endif -%}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

<div class="iris-post-footer">
<hr>
</div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
